extends ../../layouts/default.pug
include ../../mixins/form-create.pug
include ../../mixins/alert.pug



block main 
    if (role_user.permissions.includes("products_create"))
        if (messages.error)
            +alert-error(messages.error)
        +form-create()
    else 
        h1 Bạn không có quyền truy cập trang này