extends ../../layouts/default.pug 
include ../../mixins/heading.pug 


block main 
    .container
        +heading(`Chi tiết sản phẩm`)
        .card-title Tên sản phẩm: #{product.title}
        .card-title Giá: $#{product.price}
        img(src=product.thumbnail, alt="" style="width: 250px")
        a(href=`/admin/products/edit/${product._id}`) Chỉnh sửa
        