nav.navbar.navbar-expand-lg.navbar-light.bg-light.mb-3
  .container 
    a.navbar-brand(href='/') Bacola
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href='/')
            | Trang chủ
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='/products') Sản phẩm
        li.nav-item
          a.nav-link.disabled(href="admin/dashboard") Quản trị viên
      form.form-inline.my-2.my-lg-0
        input.form-control.mr-sm-2(type='search' placeholder='Nhập từ khóa...' aria-label='Search')
        button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Tìm kiếm
