extends ../../layouts/default.pug

include ../../mixins/alert.pug



block main 
    if (messages.error)
        +alert-error(messages.error)
    .container
        h2.mb-4.text-center.pt-4 Tạo nhóm quyền
        form(action="/admin/roles/create" method="POST")
            .form-group
                label(for="title") Tên nhóm quyền
                input#title.form-control(type="text" name="title" placeholder="Nhập tên nhóm quyền")
            .form-group
                label(for="description") Mô tả nhóm quyền
                textarea#description.form-control.textarea-mce(name="description" rows="5" placeholder="Nhập mô tả nhóm quyền")
            button.btn.btn-primary(type="submit") Tạo mới
    