mixin alert-success(messages)
    .alert.alert-success.alert-dismissible.fade.show(role='alert')
        | #{messages}
        button.close(type='button', data-dismiss='alert', aria-label='Close')
            span(aria-hidden='true') &times;

mixin alert-error(messages)
    .alert.alert-danger.alert-dismissible.fade.show(role='alert')
        | #{messages}
        button.close(type='button', data-dismiss='alert', aria-label='Close')
            span(aria-hidden='true') &times;