mixin filter()
    .button-group.filter
        button(type="button" button-status class="btn btn-primary") Tất cả
        button(type="button" button-status="active" class="btn btn-success") Hoạt động
        button(type="button" button-status="inactive" class="btn btn-danger") Không hoạt động