mixin form-search()
    form.form-inline.form-search
        .form-group.mb-2
            input.form-control.input-search(type='text' placeholder="Nhập nội dung..." style="width:400px" name="keyword" value=keyword)
        button.btn.btn-primary.mb-2.btn-search(type='submit')
            i(class="fa-solid fa-magnifying-glass")