mixin select-tree(items, level = 0, parent = "")
    each item in items
        -const prefix = Array(level + 1).join("--")
        option(value=item._id selected=(item.id === parent ? true : false)) #{prefix} #{item.title}
            if item.children && item.children.length > 0
                +select-tree(item.children, level + 1, parent)