extends ../../layouts/default.pug 
block main 
    main.col-md-9.ml-sm-auto.col-lg-10.px-4.content(role='main')
      h2 Tổng quan 
      .row
        .col-md-4
          .card.mb-4
            .card-header
              | Thống kê
            .card-body
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
        .col-md-4
          .card.mb-4
            .card-header
              | Lợi nhuận
            .card-body
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
        .col-md-4
          .card.mb-4
            .card-header
              | Báo cáo
            .card-body
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.

        
