
nav.col-md-2.d-none.d-md-block.sidebar
    .sidebar-sticky
        h5.sidebar-heading Admin
        ul.nav.flex-column
            li.nav-item(sidebar-item)
                a(href='/admin/dashboard' class=`nav-link`)
                    i.fas.fa-tachometer-alt
                    |  Tổng quan
            li.nav-item(sidebar-item)
                a(href='/admin/products' class=`nav-link`)
                    i.fas.fa-users
                    |  Sản phẩm
            li.nav-item(sidebar-item)
                a(href='/admin/products-categories' class=`nav-link`)
                    i.fas.fa-users
                    |  Danh mục 
            li.nav-item(sidebar-item)
                a.nav-link(href='/admin/roles')
                    i.fas.fa-cogs
                    |  Nhóm quyền
            li.nav-item(sidebar-item)
                a.nav-link(href='/admin/roles/permissions')
                    i.fas.fa-cogs
                    |  Phân quyền
            li.nav-item(sidebar-item)
                a(href='/admin/accounts' class=`nav-link`)
                    i.fas.fa-users
                    |  Tài khoản
            li.nav-item(sidebar-item)
                a.nav-link(href='#')
                    i.fas.fa-cogs
                    |  Cài đặt
            li.nav-item(sidebar-item)
                a.nav-link(href='/admin/auth/logout')
                    i.fas.fa-cogs
                    |  Đăng xuất